body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  height: 100vh;
}

.imageContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

.image {
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  align-content: center;
}
