.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.chartBox {
  margin: 30px 0;
  padding: 15px;

  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
